@import 'sass/base/_normalize.scss';
@import 'sass/helpers/_mixins.scss';
@import 'sass/helpers/_variables.scss';
@font-face {
    font-family: 'BigJohn';
    src: url('../assets/fonts/BigJohn/BigJohn.woff') format('woff');
  }
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 
body {
    @include width-height(100%);
    font-size: 16px;
}
// WRAPPER
.wrapper {
    @include width-height(100%);
    display: grid;
    grid-template-areas:
     "header"
     "about"
     "details"
     "features"
     "services"
     "quotes"
     "portfolio"
     "project"
     "team"
     "testimonials"
     "blog"
     "price"
     "subscribe"
     "contact"
     "map"
     "footer";
    background-color: $color_1;
    @media #{$media-type_1} and (min-width: $screen-lg) {
        .header__container, .footer__container, .about__container {
            @include width-height(80%);
            margin: 0 auto;
        }
    }
}
// HEADER
.header {
    @include width-height(100%);
    @include display-flex(row, nowrap, center, center);
    @include animateButton($color_1, $color_2);
    grid-area: header;
    background: {
        image: url(../assets/img/bg-header.png);
        position: center center;
        size: cover;
    }    
    &__container {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
        padding-bottom: 2em;
    }  
    &__upper {
        @include width-height(100%);
        @include display-flex(row, wrap, center, center);
    }  
    &__logo {
        font: 800 1.6em 'Montserrat';
        color: $color_1;
        margin-left: 5%;
    }    
    &__nav {
        @include display-flex(row, wrap, center, center);       
    }
    &__link-container {
        color:  $color_1;
        margin: 0;
        padding: 0.3em 1.2em;
    }
    &__link-container:hover {
        cursor: pointer;
        border: {
            style: solid;
            width: 0.05em; 
            color: $color_1;
            radius: 1em;
        }
        padding: 0.25em 1.15em;    
    }
    &__link {
        font: normal 1em 'Open Sans';
        text-decoration: none;
        color: $color_1;       
    }    
    &__middle {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
    }
    &__middle-container {
        @include width-height(80%);
        text-align: center;
    }
    &__title {
        font: 200 2.187em '$font_2';
        color: $color_1;
    }
    &__subtitle {
        font: normal 1em 'Open Sans';
        color: $color_1;
    }
    &__button {
        @include width-height(2.43em, 2.437em);
        outline: none;
        background: {
            image: url(../assets/img/icon-header-arrow.png);
            color: $color_6;
        }
        border: {
            radius: 10em;
            width: 0;
            style: none;
        }
    } 
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__upper {
            @include display-flex(row, wrap, space-between, center);
        }
        &__middle-container {
            @include width-height(60%);
            margin: 3em 0;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        @include width-height(100%, auto);
        padding: 0em 0 4.687em;
        &__container {
            @include width-height(80%);
            padding: 0;
        }
        &__middle-container {
            @include width-height(50%);
            margin: 13em;
        }
    }
}
// ABOUT
.about {
    @include width-height(100%);
    @include animateButton();
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    padding: 2em 0;
    &__info {
        @include width-height(80%);
        grid-row: 2;
        grid-column: 0.7fr;
        text-align: center;
        margin: 0 auto;
        justify-self: center;
        align-self: center;
    }
    &__title {
        font: 300 '$font_2';
        color: $color_3;
    }
    &__text {
        font: normal 0.85em 'Open Sans';
        color: $color_4;
    }
    &__button {
        margin: 1em 0 2em;
        padding: 0.7em 2em;
        background-color: $color_1;
        border: {
            style: solid;
            width: 0.05em;
            color: $color_3;
            radius: 10em;
        }
        outline: none;
    } 
    &__ipad {
        grid-row: 1;
        grid-column: 0.3fr;
        margin: 2em auto 0;
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        @include width-height(80%);
        justify-self: center;
        align-self: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1;
        &__info {
            grid-row: 1;
            grid-column: 1/8;
        }
        &__ipad {
            grid-row: 1;
            grid-column: 8/12;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        padding: 4em 0 ;
        &__info {
            grid-row: 1;
            grid-column: 2/8;
        }
        &__ipad {
            grid-row: 1;
            grid-column: 8/11;
        }
    }
}
// DETAILS
.details {
    @include width-height(100%);
    @include animateButton();
    @include fadein();
    grid-area: details;
    display: block;    
    background-color: $color_7;
    padding: 2em 0;
    &__container {
        @include width-height(90%);
        margin: 0 auto;
        text-align: center;
    }
    &__title {
        font: 300 1.3em $font_2;
        color: $color_3;
    }
    &__subtitle {
        font: normal 0.85em $font_3;
        color: $color_4;
    }
    &__button {
        @include width-height(3.437em, 3.437em);
        outline: none;
        background-color: $color_8;
        border: {
            radius: 10em;
            width: 0;
        }
    }
    &__active_true {
        background-color: $color_9;
    }
    &__button_bg_heart {
        background-image: url(../assets/img/icon-details-heart.png);
    }
    &__button_bg_mouse {
        background-image: url(../assets/img/icon-details-mouse.png);
    }
    &__button_bg_lamp {
        background-image: url(../assets/img/icon-details-lamp.png);
    }
    &__color_green {
        color: $color_9;
    }
    &__color_black {
        color: $color_10;
    }
    &__bold_true {
        font-weight: bold;
    }
    &__info-container_display_none {
        display: none;
    }
    &__info-title {
        font-family: $font_3;
        color: $color_3;
    }
    &__info-text {
        font: none 1em $font_3;
        text-align: left;
        color: $color_4;
    }
    &__info {
        @include width-height(auto, 21em);
    }
    &__info-container {
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
    }    
    @media #{$media-type_1} and (min-width: 400px) {
        &__info {
            @include width-height(auto, 16em);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        &__container {
            @include width-height(70%);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__container {
            @include width-height(80%);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
        }
        &__header {
            grid-row: 1;
            grid-column: 1;
        }
        &__button-container {
            grid-row: 2;
            grid-column: 1;
        }
        &__info-container {
            grid-row: 3;
            grid-column: 1;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(2, auto);
        }
        &__info-title {
            grid-row: 1;
            grid-column: 1/12;
            justify-self: start;
        }
        &__info-1 {
            grid-row: 2;
            grid-column: 1/4;
        }
        &__info-2 {
            grid-row: 2;
            grid-column: 5/12;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        padding: 4.7em 6em;
        &__container {
            @include width-height(70%);
        }
        &__header {
            grid-row: 1;
            grid-column: 1;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }
        &__title {
            grid-column: 5/9;
        }
        &__subtitle {
            grid-column: 4/10;
        }
        &__button-container {
            margin: 2em 0;
        }
        &__info {
            @include width-height(auto, 14em);
        }
    }
}
// FEATURES
.features {
    @include width-height(100%, auto);
    @include animateButton();
    padding: 2em 0 0 0;
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 9;
    &__title {
        font: 300 1.35em $font_2;
        color: $color_3;
        text-align: center;
    }
    &__subtitle {
        padding: 1em 0;
        font: normal 0.8em $font_3;
        color: $color_4;
        text-align: center;
    }
    &__gallery {        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3;
    }
    &__gallery-item {
        @include width-height(100%);
    }    
    &__whiskey {
        grid-column: 1;
        grid-row: auto;
        background: url(../assets/img/img-features-whiskey.png);
        background: {
            size: cover;
            position: center center;
            repeat: no-repeat;
        } 
    }  
    &__vintage {
        grid-column: 1;
        grid-row: auto;
        background: url(../assets/img/img-features-vintage.png);
        background: {
            size: cover;
            position: center center;
            repeat: no-repeat;
        } 
    }
    &__branding {
        grid-column: 1;
        grid-row: auto;
        background: url(../assets/img/img-features-branding.png);
        background: {
            size: cover;
            position: center center;
            repeat: no-repeat;
        }   
    }
    &__submit {
        padding-top: 2em;
    }
    &__gallery-title {
        font: normal 1.3em $font_2;
        color: $color_1;
        z-index: 20;
    }
    &__gallery-item {
        @include width-height(auto, 20em);
        position: relative;       
    }
    &__gallery-item_height_30em {
        @include width-height(auto, 30em);   
    }    
    &__gallery-item:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($color: $color_13, $alpha: 0.74);
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }
    &__whiskey:before {
        content: "Handmade";
        text-transform: uppercase;
        font: normal 1.3em $font_2;
        color: $color_1;
        padding: 6em;
    }
    &__vintage:before {
        content: "Vintage";
        text-transform: uppercase;
        font: normal 1.3em $font_2;
        color: $color_1;
        padding: 6em;
    }
    &__branding:before {
        content: "Branding";
        text-transform: uppercase;
        font: normal 1.3em $font_2;
        color: $color_1;
        padding: 6em;
    }
    &__gallery-item:hover:before {
        opacity: 0;
    } 
    &__submit {
        padding-top: 2em;
        background: {
            image: url(../assets/img/bg-features-submit2.jpg);
            size: cover;
            position: center center;
            repeat: no-repeat;
        } 
    }
    &__submit-container {
        text-align: center;
    }
    &__submit-title {
        @include width-height(90%);
        margin: 0 auto;
    }
    &__submit-title {
        font: normal 1em $font_3;
        color: $color_12;
        text-align: center;
    }
    &__button {
        font: normal 1em $font_3;
        color: $color_12;
        margin: 1em 0 2em;
        padding: 0.7em 2em;
        background-color: transparent;
        border: {
            style: solid;
            width: 0.05em;
            color: $color_12;
            radius: 10em;
        }
        outline: none;
    }
    &__theme_white {
        font: normal 1.3em $font_3;
        color: $color_1;
    }   
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__header-container {
            margin: 3em 0;
        }    
        &__gallery {
            @include width-height(auto, 20em);
            @include display-flex(row, null, center, center);
            background-color: $color_14;
        }
        &__gallery_orientation_horizontal {
            @include width-height(auto, 20em);
        }
        &__gallery-item {
            @include width-height(100%);
            margin: 0.5em 0;   
        }
        &__gallery-item_width_50 {
            @include width-height(50% !important);
        }
        &__whiskey {
            grid-area: whiskey;
            @include width-height(33%);
        }
        &__vintage {
            grid-area: vintage;
            @include width-height(33%);
        }
        &__branding {
            grid-area: branding;
            @include width-height(33.333%);
        }
        &__submit {
            padding-top: 2em;
        }        
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        &__submit {
            display: flex;
            justify-content: center;
        }
        &__submit-title {
            display: inline;
            margin-right: 5em;
        }
    }
}
// SERVICES
.services {
    @include width-height(100%);
    @include animateButton();
    @include fadein();
    grid-area: services;
    padding: 1em 0 2em;
    &__header {
        @include width-height(90%);
        margin: 0 auto;
        text-align: center;
    }
     &__body {
            display: grid;
            grid-template-columns: repeat(1fr);
            grid-template-rows: 4;
        }
    &__title {
        font: lighter 1.3em $font_3;
        color: $color_14;
    }
    &__subtitle {
        font: normal 0.8em $font_3;
        color: $color_8;
    }
    &__buttons-container {
        @include width-height(90%);
        padding: 1em 0;
        margin: 0 auto;
        text-align: center;
    }
    &__button {
        @include width-height(3.437em, 3.437em);
        outline: none;
        background-color: $color_8;
        border: {
            radius: 10em;
            width: 0;
        }
    } 
    &__active_true {
        background-color: $color_9;
    }
    &__button_icon_1 {
        background-image: url(../assets/img/icon-services-plug.png);
    }
    &__button_icon_2 {
        background-image: url(../assets/img/icon-services-joystick.png);
    }
    &__button_icon_3 {
        background-image: url(../assets/img/icon-services-roller.png);
    }
    &__button_icon_4 {
        background-image: url(../assets/img/icon-services-instrument.png);
    }
    &__content {
        @include width-height(90%, 28em);
        padding: 1em 0;
        margin: 0 auto;        
    }
    &__container {
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
    }
    &__content-title {
        font: normal 1.3em $font_3;
        color: $color_14;
        text-align: center;
    }
    &__content-text {
        font: normal 1em $font_3;
        color: $color_8;
        text-align: left;
    }
    &_color_green {
        color: $color_9;
    }
    &_color_black {
        color: $color_10;
    }
    &_bold_true {
        font-weight: bold;
    }
    &__chart-container {
        @include display-flex(row, wrap, space-around, center);
    }
    &__chart {
        text-align: center;
    }
    &__chart-box {
        @include width-height(3.5em, 3.5em);
        margin: 0 auto;
        background: {
            position: center center;
            size: cover;
        }
    }
    &__chart-box_img_60 {        
        background-image: url(../assets/img/icon-services-60.svg);
    }
    &__chart-box_img_75 {        
        background-image: url(../assets/img/icon-services-75.svg);
    }
    &__chart-box_img_80 {        
        background-image: url(../assets/img/icon-services-80.svg);
    }
    &__chart-title {
        font: normal 1em $font_3;
        color: $color_8;
        margin-top: 0.5em;
    }
    @media #{$media-type_1} and (min-width: 400px) {
        &__content {
            @include width-height(90%, 22em);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        padding-bottom: 3em;
        &__chart-container {
            @include display-flex(row, wrap, center, center);
        }
        &__chart {
            margin: 0 1em;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        &__body {
            display: grid;
            grid-template-columns: repeat(4, 25%);
            grid-template-areas:
               "buttons content content charts";
        }
        &__buttons-container {
            grid-area: buttons;
            @include display-flex(column, nowrap, start, center);
        }
        &__content {
            @include width-height(90%, 22em);
            grid-area: content;
        }
        &__chart-container {
            @include display-flex(column, nowrap, start, center);
            grid-area: charts;
            padding-top: 2em;            
        }
        &__button {
            margin-top: 1em;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-xl) {
        &__body {
            display: grid;
            grid-template-columns: 20% 30% 50% ;
            grid-template-areas:
               "buttons content charts";
        }
        &__buttons-container {
            padding-top: 2em;
        }
        &__content {
            margin: 0;
            width: 90%;
            text-align: left;
        }
        &__chart-container {
            @include display-flex(row, nowrap, start, left);
            grid-area: charts;
            padding-top: 2em;            
        }
        &__chart-box {
            @include width-height(7.875em, 7.875em);
            margin: 0 auto;
            background: {
                position: center center;
                size: cover;
            }
        }
        &__content-title {
            text-align: left;
        }
        &__button {
            margin: 0.2em;
        }
    }
}
// QUOTES
.quotes {
    @include width-height(100%);
    background-color: $color_15;    
    text-align: center;
    &__container {
        @include width-height(100%);
        margin: 0 auto;
        padding: 2em 0;
        background: {
            image: url(../assets/img/bg-quotes-man.png);
            size: cover;
            position: center center;
        }
    }
    &__header {
        @include width-height(100%);
        margin: 0 auto;
    }
    &__title {
        margin: 0;
        font: 300 $font_2;
        color: $color_7;
    }
    &__text, &__position, &__link {
        font: normal 1em $font_3;
        color: $color_16;
    }
    &__name {
        font: bold 0.8em $font_3;
        color: $color_16;
    }
    &__position {
        margin: 0;
    }
    &__link {
        text-decoration: none;
        color: $color_9;
    }
    &__link:hover {
        cursor: pointer;
    }
    &__monitor {
        display: none;
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        &__header {
            @include width-height(80%);
        }
        &__monitor {
            @include width-height(409px, 328px);
            margin: 1em auto;
            display: block;
            position: relative;
            background: {
                image: url(../assets/img/img-quote-monitor2.png);
            }
        }
        &__monitor:hover {
            background: {
                image: url(../assets/img/img-quote-monitor2.png);
                position: bottom;
            }
        }
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__header {
            @include width-height(60%);
        }        
    }
    @media #{$media-type_1} and (min-width: $screen-xl) {
        &__container {
            @include width-height(90%, 25em);
        }
        &__header {
            @include width-height(30%);
            text-align: left;
            margin: 3em;
        }
        &__monitor {
            top: -20em;
            left: 35.5em;
        }     
    }
}
// PORTFOLIO
.portfolio {
    @include width-height(100%);
    @include animateButton();
    background-color: $color_17;    
    &__container {
        @include width-height(100%);
        margin: 0 auto;
        padding: 2em 0;
    }
    &__header {
        @include width-height(90%);
        margin: 0 auto;
    }
    &__title {
        font: 300 1.35em $font_2;
        color: $color_3;
        text-align: center;
    }
    &__subtitle {
        font: normal 0.85em $font_3;
        color: $color_4;
        text-align: center;
    }
    &__nav-ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }    
    &__nav-li {
        padding: 0.5em 0;
    }
    &__nav-li:hover {
        background-color: $color_16;
    }
    &__nav-li:hover {
        cursor: pointer;        
    }
    &__nav-link {
        font: normal 1em $font_3;
        color: $color_18;
        text-decoration: none;
        text-decoration-style: none;
        
    }
    &__gallery {
        padding: 0.5em 0;
        margin-bottom: 1em;
    }
    &__margin_all {
        margin: 0.5em;
    }
    &__gallery-container {
        margin-bottom: 1em;
        background: {
                size: cover;
                position: center center;
                repeat: no-repeat;
            }            
    }
    &__gallery-img-1 {
        @include width-height(100%, 23.625em);
        background-image: url(../assets/img/img-gallery-4.png);
    }
    &__gallery-img-2 {
        @include width-height(100%, 25.937em);
        background-image: url(../assets/img/img-gallery-8.png);
    }
    &__gallery-img-3 {
        @include width-height(100%, 13.375em);
        background-image: url(../assets/img/img-gallery-12.png);
    }
    &__gallery-img-4 {
        @include width-height(100%, 14.5em);
        background-image: url(../assets/img/img-gallery-3.png);
    }
    &__gallery-img-5 {
        @include width-height(100%, 21.937em);
        background-image: url(../assets/img/img-gallery-6.png);
    }
    &__gallery-img-6 {
        @include width-height(100%, 26.5em);
        background-image: url(../assets/img/img-gallery-11.png);
    }
    &__gallery-img-7 {
        @include width-height(100%, 19.062em);
        background-image: url(../assets/img/img-gallery-2.png);
    }
    &__gallery-img-8 {
        @include width-height(100%, 27.5em);
        background-image: url(../assets/img/img-gallery-7.png);
    }
    &__gallery-img-9 {
        @include width-height(100%, 16.3em);
        background-image: url(../assets/img/img-gallery-10.png);
    }
    &__gallery-img-10 {
        @include width-height(100%, 23.375em);
        background-image: url(../assets/img/img-gallery-1.png);
    }
    &__gallery-img-11 {
        @include width-height(100%, 16.5em);
        background-image: url(../assets/img/img-gallery-5.png);
    }
    &__gallery-img-12 {
        @include width-height(100%, 23em);
        background-image: url(../assets/img/img-gallery-9.png);
    }
    &__gallery-content {
        @include width-height(100%, 100%);
        visibility: hidden;
        background-color: $color_2;
        opacity: 0;
        transition: opacity 500ms linear, visibility 0s linear 500ms;
    }
    &__gallery-container:hover &__gallery-content {        
        opacity: 1;
        visibility: visible;
        transition: opacity 500ms linear, visibility 0s linear;        
    }
    &__gallery-innerbox {
        @include width-height(70%);
        @include display-flex(column, nowrap, center, left);
        margin: 0 auto;
        text-decoration: none;
        cursor: pointer;
    }
    &__gallery-title {
        font: 300 1.3em $font_2;
        color: $color_9;
    }
    &__gallery-title:after {
        content: ""; 
        display: block;
        width: 25%;
        padding-top: 1em;
        border-bottom: 1px solid $color_9;
    }
    &__gallery-subtitle {
        font: normal 1em $font_3;
        color: $color_16;
    }
    &__start {
        background: {
            image: url(../assets/img/bg-gallery-start.png);
            size: cover;
            position: center center;
        }
    }
    &__submit {
        padding-top: 2em;
        background: {
            image: url(../assets/img/bg-features-submit2.jpg);
            size: cover;
            position: center center;
            repeat: no-repeat;
        } 
    }
    &__submit-container {
        text-align: center;
    }
    &__submit-title {
        @include width-height(90%);
        margin: 0 auto;
    }
    &__submit-title {
        font: normal 1em $font_3;
        color: $color_12;
        text-align: center;
    }
    &__button {
        font: normal 1em $font_3;
        color: $color_12;
        margin: 1em 0 2em;
        padding: 0.7em 2em;
        background-color: transparent;
        border: {
            style: solid;
            width: 0.05em;
            color: $color_12;
            radius: 10em;
        }
        outline: none;
    }
    &__theme_white {
        font: normal 1.3em $font_3;
        color: $color_1;
    }
    &__nav-link_theme_underlined {
        border-bottom: {
            color: $color_6;
            width: 0.1em;
            style: solid;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        &__container {
            @include width-height(100%);
        }
        &__nav-ul {
            @include display-flex(row, wrap, space-around, center);
        }
        &__nav-li:hover {
            background-color: transparent;
        }
        &__gallery {
            @include display-flex(row, nowrap, center, start);
        }        
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__nav-ul {
            @include display-flex(row, wrap, center, center);
        }
        &__nav-li {
            margin: 0 1em;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        &__gallery {
            @include width-height(80%);
            margin: 0 auto;
        }
    }
}
// TEAM
.team {
    @include width-height(100%);
    @include fadein();
    background-color: $color_1;    
    &__container {
        @include width-height(100%);
        margin: 0 auto;
        padding: 2em 0;
    }
    &__header {
        @include width-height(90%);
        margin: 0 auto;
    }
    &__header-title {
        font: 300 1.35em $font_2;
        color: $color_14;
        text-align: center;
    }
    &__header-subtitle {
        font: normal 0.85em $font_3;
        color: $color_8;
        text-align: center;
    }
    &__slider {
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
    }
    &__slider-img {
        @include width-height(17em, 22.75em);
        margin: 0 auto;
        background: {
            position: center center;
            size: cover;
            repeat: no-repeat;
        }
    }
    &__slider-img_image_1 {
        background-image: url(../assets/img/img-team-man-1.png);
    }
    &__slider-img_image_2 {
        background-image: url(../assets/img/img-team-man-2.png);
    }
    &__slider-img_image_3 {
        background-image: url(../assets/img/img-team-man-3.png);
    }
    &__content-upper {
        @include width-height(100%);
        @include display-flex(row, wrap, center, center);
        opacity: 0;
        background-color: $color_19;
        border: solid 0.8em rgba($color: $color_20, $alpha: 0.9);
    }
    &__content-link {
        text-decoration: none;
    }
    &__content-link:hover {
        cursor: pointer;
    }
    &__slider-info {
        @include width-height(90%);
        margin: 0 auto;
    }
    &__info-name {
        font: normal 1.35em $font_3;
        color: $color_21;
        text-align: center;
        margin-bottom: 0;
    }
    &__info-position {
        font: italic 300 0.85em $font_2;
        color: $color_8;
        text-align: center;
        margin-top: 0;
    }
    &__info-discription {
        font: 300 0.85em $font_2;
        color: $color_8;
        text-align: center;
    }
    &__chart {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
        margin: 0 auto 1em;
    }
    &__chart-upper {
        @include width-height(100%);
        @include display-flex(row, nowrap, space-between, center);
    }
    &__chart-name {
        @include width-height(15em);
    }
    &__chart-name, &__chart-percent {
        font: 300 1em $font_2;
        color: $color_8;
        padding: 0 0.2em;    
    }
    &__graph-line {
        @include width-height(100%);
        border: none;
        border-bottom: 0.2em solid $color_16;
    }    
    &__button-container {
        @include width-height(100%);
        @include display-flex(row, nowrap, center, center);
        padding: 1em 0;
    }
    &__button {
        margin: 0.5em;
    }
    &__button:hover {
        cursor: pointer;
    }
    &__footer {
        @include width-height(100%, 12.625em);
        @include display-flex(column, nowrap, center, center);
        background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.9) ), url('../assets/img/bg-team-contact.png');
    }
    &__footer-title {
        font: normal 1.35em $font_3;
        color: $color_1;
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        &__container {
            @include width-height(80%);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__container {
            @include width-height(60%);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        &__header {
            padding-bottom: 2em;
        }
        &__container {
            @include width-height(90%);
        }
        &__body {
            @include width-height(80%);
            margin: 0 auto;
        }
        &__slider {
            @include width-height(100%);
            @include display-flex(row, nowrap, space-between, center);
        }
        &__slider-img {
            margin-left: 0;
        }
        &__slider-info {
            @include width-height(60%);
            margin-right: 0;
        }
        &__info-name, &__info-position, &__info-discription {
            text-align: right;
        }
        &__info-lower {
            @include width-height(100%);
        }
        &__chart-name {
            @include width-height(60%);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-xl) {
        &__chart {
            @include width-height(60%);
            margin-right: 0;
        }
        &__chart-name {
            @include width-height(100%);
        }
        &__info-lower {
            margin-top: 3em;
        }
    }
}
// TESTIMONIALS
.testimonials {
    @include width-height(100%);
    @include fadein();
    background-color: $color_17;
    padding: 2em 0 3em;
    &__header {
        @include width-height(80%);
        margin: 0 auto;
    }
    &__title {
        font: 300 1.35em $font_2;
        color: $color_23;
        text-align: center;
    }
    &__subtitle {
        font: normal 0.85em $font_3;
        color: $color_22;
        text-align: center;
    }
    &__body {
        @include width-height(80%);
        @include display-flex(column, nowrap, center, center);
        margin: 0 auto;
        background-color: $color_1;
        padding: 1em 0 ;
    }
    &__slider {
        @include display-flex(column, nowrap, center, center);
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
    }
    &__slider-buttons {
        margin: 0 auto;
        padding-top: 1em;
    }
    &__slider-img {
        @include width-height(8.125em, 8.125em);
        background-image: url(../assets/img/img-testimonials-face-1.png);
    }
    &__slider-content {
        @include width-height(90%, 22em);
        margin: 0 auto;
    }
    &__slider-text {
        font: normal 0.85em $font_3;
        color: $color_24;
        text-align: left;
    }
    &__slider-name {
        font: bold 0.85em $font_3;
        color: $color_9;
        text-align: left;
        margin: 0;
    }
    &__slider-position {
        font: normal 0.85em $font_3;
        color: $color_25;
        text-align: left;
        margin: 0;
    }
    &__button-container {
        @include width-height(100%);
        @include display-flex(row, nowrap, center, center);
        padding: 1em 0;
    }
    &__button {
        margin: 0.5em;
    }
    &__button:hover {
        cursor: pointer;
    }
    &__slider-img_image_1 {
        background-image: url(../assets/img/img-testimonials-face-1.png);
    }
    &__slider-img_image_2 {
        background-image: url(../assets/img/img-testimonials-face-2.png);
    }
    &__slider-img_image_3 {
        background-image: url(../assets/img/img-testimonials-face-3.png);
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        &__body, &__header {
            @include width-height(70%);
        }
        &__slider-content {
            @include width-height(90%, 14em);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-md) {        
        &__body, &__header {
            @include width-height(80%);
        }
        &__body {
            padding: 1em 1em 1em 1em;
        }
        &__slider {
            @include display-flex(row, nowrap, space-around, center);
        }
        &__slider-content {
            @include width-height(70%, 13em);
            margin-right: 0;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {             
        &__body {
            padding: 5em 5em 2em 5em;
        }        
    }
}
// BLOG
.blog {
    @include width-height(100%);
    @include fadein();
    padding: 1em 0;
    background: {
        image: url(../assets/img/bg-blog.jpg);
        size: cover;
        position: center;
        repeat: no-repeat;
    }    
    &__container {
        @include width-height(90%);
        margin: 0 auto;
    }
    &__title {
        font: 300 1.35em $font_2;
        color: $color_1;
        text-align: center;
    }
    &__subtitle {
        font: normal 0.85em $font_3;
        color: $color_28;
        text-align: center;
    }
    &__body {
        @include width-height(100%, 35em);
    }
    &__slider {
        @include width-height(100%);
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
    }
    &__slider-header {
        font: normal 1.35 $font_3;
        color:$color_1;
    }
    &__slider-author {
        font: 300 0.85em $font_2;
        color:$color_28;
    }
    &__author-link {
        text-decoration: none;
        color: $color_6;
        font-style: italic;
    }
    &__slider-comments {
        font: 300 0.85em $font_2;
        color: $color_29;
    }
    &__author-text {
        font: normal 0.85em $font_3;
        color: $color_8;
    }
    &__read-link {
        color: $color_30;
        text-decoration: none;
    }
    &__read-more {
        font: normal 1em $font_3;
        color: $color_30;
    }
    &__button-container {
        text-align: center;
    }
    &__button:hover {
        cursor: pointer;
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        &__container {
            @include width-height(70%);
        }
        &__body {
            @include width-height(100%, 23em);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__container {
            @include width-height(80%);
        }
        &__body {
            @include display-flex(row-reverse, wrap, space-between, center);
        }
        &__slider {
            @include width-height(80%);
        }
        &__button-container {
            @include display-flex(column, wrap, center, center);
        }
        &__button {
            margin: 0.5em;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        &__body {
            @include width-height(100%, 20em);
        }
        &__button-container {
            align-self: start;
            padding-top: 3em;
        }
        &__button {
            margin: 0.2em;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-xl) {
        padding: 3em 0 1em;
        &__header {
            @include width-height(30%);
        }
        &__title, &__subtitle {
            text-align: left;
        }
        &__body {
            @include width-height(100%);
            @include display-flex(row-reverse, wrap, end, center);       
        }
        &__slider {
            @include width-height(90%, 20em);
        }
        &__slider-text {
            @include width-height(70%);
        }
    }
}
// PRICE
.price {
    @include width-height(100%);
    background-color: $color_17;
    padding: 4em 0;
    &__header {
        @include width-height(90%);
        margin: 0 auto;
        padding-bottom: 2em;
    }
    &__header-title {
        @include width-height(100%);
        color: $color_31;
        text-align: center;
        font: 300 1.35em $font_2;
    }
    &__header-subtitle {
        @include width-height(100%);
        color: $color_4;
        text-align: center;
        font: normal 0.85em $font_3;
    }
    &__body-container {
        @include width-height(100%, 56em);
        
    }
    &__content {
        @include width-height(14em, 19em);
        margin: 1em auto;
        background-color: $color_22;
        position: relative;
        overflow: hidden;
    }
    &__content-container {
        @include width-height(14em, 34em);
        @include display-flex(column, nowrap, center, center);
        position: relative;
        bottom: 0;
        left: 0;
        background-image: url(../assets/img/bg-header.png);
        transform: translateY(-15em);
        transition: transform 1s linear;
    }
    &__content:hover  &__content-container {
        transform: translateY(0em);
        transition: transform 0.5s linear;
    }
    &__content-upper {
        @include width-height(100%, 15em);
        @include display-flex(column, nowrap, center, center);
        background-color: $color_1;
    }
    &__content-middle {
        @include width-height(100%, 4em);
        @include display-flex(column, nowrap, center, center);
        background-color: $color_32;
    }
    &__content-lower {
        @include width-height(100%, 15em);
        @include display-flex(column, nowrap, center, center);
        background-color: $color_1;
    }
    &__content-plan {        
        font: bold 1.35em $font_3;
        color: $color_1;
        text-align: center;
        margin: 0;
    }
    &__content-dollar {
        display: inline;
        font: bold 2.8em $font_2;
        color: $color_32;        
    }
    &__content-period {
        margin: 0;
        font: normal 1.35em $font_3;
        color: $color_33;
    }
    &__hidden-text {
        font: normal 0.85em $font_3;
        color: $color_33;
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__body-container {
            @include width-height(100%);
            margin: 0 auto;
            @include display-flex(row, nowrap, center, center);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        &__body-container {
            @include width-height(80%);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-xl) {
        &__body-container {
            @include width-height(60%);
        }
    }
}
//SUBSCRIBE
.subscribe {
    @include width-height(100%, 23.375em);
    @include display-flex(column, wrap, center, center, center);
    @include animateButton();
    background: {
        image: url(../assets/img/bg-subscribe.jpg);
        position: center;
        size: cover;
        repeat: no-repeat;
    }
    &__header {
        @include width-height(90%, null);
        margin: 0 auto;
        padding-top: 1em;
    }
    &__title {
        font: 300 1.35em $font_2;
        color: $color_1;
        text-align: center;
    }
    &__subtitle {
        font: normal 0.85em $font_3;
        color: $color_4;
        text-align: center;
    }
    &__form-container {
        @include width-height(90%, null);
        @include display-flex(row, wrap, center, center, center);
        margin: 3em auto;
    }
    &__form {
        @include display-flex(row, wrap, center, center, center);
    }
    &__form-email {
        padding: 0.5em 0 0.5em 1em;
        background: transparent;
        border: solid 0.05em $color_34;
        font: normal 0.85em $font_3;
        color: $color_34;     
    }
    &__form-submit {
        padding: 0.55em 1em;
        font: normal 0.85em $font_3;
        background-color: $color_32;
        border: none;
        color: $color_35;     
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        &__header {
            @include width-height(60%, null);
        }
        &__form {
            @include display-flex(row, nowrap, center, center);
        }
        &__form-email {
            margin-right: 1em;
        }
        &__form-submit {
            padding: 0.55em 1em;
        }
        &__form-email {
            @include width-height(20em, null);
        }
        &__form-submit {
            padding: 0.55em 2.5em;
        }  
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__header {
            @include width-height(50%, null);
        }         
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__header {
            @include width-height(30%, null);
        }         
    }
}
// CONTACT
.contact {
    @include width-height(100%);
    background-color: #f3f3f3;
    &__container {
        @include width-height(100%, null);
    }
    &__header {
        @include width-height(90%, null);
        margin: 0 auto;
    }
    &__title {
        font: 300 1.35em $font_2;
        color: #333b46;
        text-align: center;
    }
    &__subtitle {
        font: normal 0.85em $font_3;
        color: #81868e;
        text-align: center;
    }
    &__body {
        @include width-height(100%);
        @include display-flex(column, wrap, center, center);
    }
    &__box {
        @include width-height(90%, 17em);
        max-width: 20em;
        margin: 1em 0;
    }
    &__upper {
        @include width-height(100%, 50%);
        background: {            
            size: cover;
            position: center;
            repeat: no-repeat;
            color: $color_24;
        }
    }
    &__upper_bg_1 {
        background-image: url(../assets/img/bg-contact-1.png);
    }
    &__upper_bg_2 {
        background-image: url(../assets/img/bg-contact-2.png);
    }
    &__upper_bg_3 {
        background-image: url(../assets/img/bg-contact-3.png);
    }
    &__inner {
        @include width-height(100%, 100%);
        @include display-flex(column, nowrap, center, center);
        visibility: hidden;
    }
    &__upper:hover &__inner {
        visibility: visible;
    }
    &__inner_visibile_false {
        visibility: hidden;
    }
    &__lower {
        @include width-height(100%, 50%);
        @include display-flex(column, nowrap, center, center);
        background-color: $color_1;
    }
    &__type {
        font: normal 1em $font_3;
        color: #464646;
    }
    &__info {
        font: normal 0.85em $font_3;
        margin: 0;
        color: #9599a0;
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        padding: 2em 0;
        &__body {
            @include width-height(100%);
            @include display-flex(row, nowrap, center, center);
            padding-bottom: 2em;
        }
        &__box {
            @include width-height(32%, 17em);
            max-width: 17em;
            margin: 1em 0.3em;
        }       
    }
}
//CONTACT-FORM
.contact-form {
    @include width-height(100%, 25em);
    @include display-flex(column, nowrap, center, center);
    @include animateButton();
    background-color: $color_1;
    &__form {
        @include width-height(90%);
        @include display-flex(column, nowrap, center, center);
        margin: 0 auto;
        padding: 2em 0;
    }
    &__upper {
        @include width-height(100%);
        max-width: 25em;
        @include display-flex(column, nowrap, center, center);
    }
    &__lower {
        @include width-height(100%);
        max-width: 25em;
        @include display-flex(column, nowrap, center, center);
    }
    &__input {
        @include width-height(100%, 20em);
        font: normal 1em $font_2;
        color: $color_41;
        border: solid 0.05em $color_40;
        padding: 0em 1em;
        margin: 0.5em 0;
        outline-color: $color_6;
    }
    &__textarea {
        @include width-height(100%, 40em);
        resize: none;
    }
    &__submit {
        @include width-height(100%, 10em);
        background-color: $color_6;
        padding: 0.5em 1em;
        border: none;        
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        @include width-height(100%, auto);
        &__form {
            @include width-height(60%);
        }
        &__upper, &__lower {
            max-width: 100%;
        }
        &__upper {
            @include display-flex(row, nowrap, space-between, center);
        }
        &__input {
            @include width-height(32%, 2em);
        }
        &__textarea {
            @include width-height(100%, 6em);
            margin-top: 1em;
        }
        &__submit {
            @include width-height(100%, 2em);
            margin-top: 1em;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        padding: 2em 0 3em;
        &__form {
            @include width-height(70%);
        }
        &__input {
            @include width-height(32%, 3em);
        }
        &__textarea {
            @include width-height(100%, 10em);
        }
        &__submit {
            @include width-height(100%, 3em);
        }
    }
}
// MAP
.map {
    @include width-height(100%, 30em);
    @include display-flex(row, nowrap, center, center);
    @include fade-in();
    @include animateButton();
    background: {
        image: url(../assets/img/bg-map-map.png);
        position: center;
        repeat: no-repeat;
        size: cover;
    }    
    &__container {
        @include width-height(100%, 30em);
        position: absolute;
        visibility: hidden;
    }
    &__curtain {
        @include width-height(100%, 30em);
        @include display-flex(row, nowrap, center, center);
        position: absolute;
        background-color: $color_27;
        opacity: 0.8;
    }
    &__curtain-content {
        @include display-flex(row, nowrap, center, center);
    }
    &__curtain-text {
        font: normal 1em $font_3;
        color: $color_1;
        margin-right: 1em;
    }
    &__button {
        @include width-height(1.312em, 1.312em);
        background-image: url(../assets/img/icon-map-button.png);
        border: {
            radius: 10em;
            width: 0;
            style: none;
        }
    }   
}
// FOOTER
.footer {
    @include width-height(100%);
    background-color: $color_17;
    &__container {
        padding: 3em 0;
    }  
    &__social {
        @include display-flex(row, nowrap, center, center);
        margin: 2em 0;
    }
    &__social-link {
        text-decoration: none;
        opacity: 0.8;
    }
    &__social-link:hover {
        opacity: 1;
    }
    &__company-name {
        font: 900 1.5em $font_4;
        color: $color_26;
        text-align: center;
    }
    &__copyright {
        font: normal 0.85em $font_3;
        color: $color_26;
        text-align: center;
    }
}
// CHART
.chart {
    @include width-height(inherit, 0.2em);
    position: relative;
    background: {
        color: $color_16;
    }
    &__inner {
        @include width-height(0%, 0.4em);
        position: relative;
        top: 0;
        left: 0;
        background: {
            color: $color_6;
        }
    }
    &__inner_width_30 {
        @include width-height(30%, 0.4em);
    }
    &__inner_width_35 {
        @include width-height(35%, 0.4em);
    }
    &__inner_width_50 {
        @include width-height(50%, 0.4em);
    }
    &__inner_width_70 {
        @include width-height(70%, 0.4em);
    }
    &__inner_width_75 {
        @include width-height(75%, 0.4em);
    }
    &__inner_width_90 {
        @include width-height(90%, 0.4em);
    }    
}
// MIX
.element_opacity_05 {
    opacity: 0.5;
}
.element_visibility_visible {
    visibility: visible;
}
.element_visibility_hidden {
    visibility: hidden;
}
.element_display_none {
    display: none;
}
.element_display_block {
    display: block;
}
.grid-item { width: 50%; }